{{ define "create" }}

{{ template "header" }}
<div class="container-fluid vh-100">
<h1>Форма добавления статьи</h1>
<form action="/save_article" method="post">
    <input type="text" name="title" id="title" placeholder="Введите название статьи" class="form-control"><br>
    <textarea name="anons" id="anons" cols="30" rows="10" placeholder="Введите анонс статьи" class="form-control"></textarea><br>
    <textarea name="full_text" id="full_text" cols="50" rows="10" placeholder="Введите текст статьи" class="form-control"></textarea><br>
    <button class="btn btn-warning">Добавить</button>
</form>
</div>


{{ template "footer" }}

{{ end }}